<div>
    <div class="pageTopPadding"></div>
    <div class="section">
        <h1>Hi, I'm Jon</h1>
        <p>
            A student at Texas State University. I graduate with a BS in Computer Science
            in the Fall of 2020. I'm employed by the CS department as a software developer and 
            I'm searching for a full-time position.
        </p>
    </div>
    <div class="section">
        <mat-divider></mat-divider>
        <h2>Technology and Tools</h2>
        <div class="icons">
            <a mat-icon-button
                href="https://angular.io">
                <mat-icon svgIcon='angular'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://docs.celeryproject.org">
                <mat-icon svgIcon='celery'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://cppreference.com/w/cpp">
                <mat-icon svgIcon='cplusplus'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.w3schools.com/css">
                <mat-icon svgIcon='css3'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.djangoproject.com">
                <mat-icon svgIcon='django'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.docker.com">
                <mat-icon svgIcon='docker'></mat-icon>
            </a>        
            <a mat-icon-button
                href="https://flask.palletsprojects.com">
                <mat-icon svgIcon='flask'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://git-scm.com">
                <mat-icon svgIcon='git'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.w3schools.com/html">
                <mat-icon svgIcon='html5'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.java.com">
                <mat-icon svgIcon='java'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.javascript.com">
                <mat-icon svgIcon='javascript'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.linux.org">
                <mat-icon svgIcon='linux'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.nginx.com">
                <mat-icon svgIcon='nginx'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.python.org">
                <mat-icon svgIcon='python'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.rabbitmq.com">
                <mat-icon svgIcon='rabbitmq'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.w3schools.com/sql">
                <mat-icon svgIcon='postgresql'></mat-icon>
            </a>
            <a mat-icon-button
                href="https://www.typescriptlang.org">
                <mat-icon svgIcon='typescript'></mat-icon>
            </a>                                  
        </div>
         
    </div>
    <div class="section">
        <mat-divider></mat-divider>
        <h2>Connect</h2>
        <div class="icons">
            <button mat-icon-button
                (click)="showEmail()">
                <mat-icon svgIcon='gmail'></mat-icon>
            </button>
            <a mat-icon-button
                href="https://www.linkedin.com/in/jpierre1">
                <mat-icon svgIcon='linkedin'></mat-icon>
            </a>
        </div>
    </div>

</div>

