<mat-card class="cardWidth">
    <mat-card-header class="center-card-title">
        <mat-card-title class="title">Sunset Theater</mat-card-title>
        <!--<mat-card-subtitle>reserve seats now</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="assets/theater.gif">
    <mat-card-content>
        <h4>
            Pick a movie show time and
            choose your seats in the auditorium.
            Fast and easy sign-up to log-in to your demo account.
            These accounts are deleted periodically.
            The available show seating is unique per account.
            Run the project live.
        </h4>
    </mat-card-content>
    <mat-card-actions class="actions">
        <a class="box" mat-stroked-button href="https://theater.jfpierre.dev">
            Launch
        </a>
        <a class="box" mat-stroked-button href="https://github.com/jpierre89/sunset-theater-frontend">      
            Frontend
            <mat-icon svgIcon='github'></mat-icon>
        </a>
        <a id=last class="box" mat-stroked-button href="https://github.com/jpierre89/sunset-theater">           
            Backend
            <mat-icon svgIcon='github'></mat-icon>
        </a>
    </mat-card-actions>
</mat-card>

