<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sunset Theater</mat-card-title>
            <mat-card-subtitle>reserve seats now</mat-card-subtitle>
        </mat-card-header>
        
        <!-- <img mat-card-image> -->
        <mat-card-actions>
            <a mat-stroked-button href="https://theater.jfpierre.dev" color="accent">
                Launch
            </a>
            <a mat-stroked-button href="https://github.com/jpierre89/sunset-theater" color="accent">
                <mat-icon svgIcon='github'></mat-icon>
                Backend
            </a>
            <a mat-stroked-button href="https://github.com/jpierre89/sunset-theater-frontend" color="accent">
                <mat-icon svgIcon='github'></mat-icon>
                Frontend
            </a>
            <a mat-stroked-button routerLink="theater" color="accent">
                More Info
            </a>
        </mat-card-actions>
    </mat-card>
</div>
