<mat-card class="cardWidth">
    <mat-card-header>
        <mat-card-title>Sunset Theater</mat-card-title>
        <mat-card-subtitle>reserve seats now</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Pick a movie, showtime, and
            select available seats from the auditorium.
            Create an account, or login as a guest.
        </p>
    </mat-card-content>
    
    <!-- <img mat-card-image> -->
    <mat-card-actions class="actions">
        <a class="box" mat-stroked-button href="https://theater.jfpierre.dev">
            Run
        </a>
        <a class="box" mat-stroked-button href="https://github.com/jpierre89/sunset-theater-frontend">
            <mat-icon svgIcon='github'></mat-icon>
            Frontend
        </a>
        <a class="box" mat-stroked-button href="https://github.com/jpierre89/sunset-theater">
            <mat-icon svgIcon='github'></mat-icon>
            Backend
        </a>
    </mat-card-actions>
</mat-card>

